.login-form {
    max-width: 500px;
    width: 100%;
    background-color: #ffffff;
    padding: 50px;
}

.full-height {
    min-height: 100vh;
    height: 100%;
}

.auth-brand {
    display: block;
    font-size: 55px;
}

.auth-brand:hover {
    color: #ffffff;
}